@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--font-anton)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  background: #242424;
  color: var(--foreground);
  -webkit-overflow-scrolling: touch;
}

.custom-clip {
  clip-path: path('M 100% 0% L 100% 99% L 0% 100% L 0% 1% L 33% 1% L 41% 10% L 99% 10% L 100% 10% Z');
}
